p {
  margin: 0;
}

hr {
  color: #fff;
  margin: 0;
}

.main-container {
  max-width: 1440px;
  margin: auto !important;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  width: 669px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

#message {
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
}

.photographerLocation {
  color: #901c1c;
  font-size: 24px;
}

.tagline {
  font-size: 18px;
  margin: 16px 0 19px 0;
}

.photograph-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photographer-information {
  order: 1;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  order: 3;
  object-fit: cover;
}

.photograph-header button {
  order: 2;
}

.photograph-header .photographer-information h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}

.media-section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.media-section article img,
.media-section article video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.article-text {
  color: #901c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;
}

.article-text__likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.media-section article img.heart-icon {
  width: initial;
  height: initial;
  cursor: inherit; /* cela est important */
}

.heart-button {
  border: none;
  background: none;
  cursor: pointer;
}

.likes-and-price {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 2.5%;
  display: flex;
  align-items: center;
  padding: 21px 31px;
  border-radius: 5px;
  font-size: 24px;
}

.total-likes {
  order: 1;
}

.likes-and-price img {
  filter: brightness(0) saturate(100%);
  order: 2;
  margin-right: 65px;
}

.price {
  order: 3;
}

#lightbox-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 35px;
  padding: 25px;
  max-width: 100%;
  max-height: 100%;
}

.lightbox-media-content {
  order: 2;
  margin: 0;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content img,
.lightbox-content video {
  object-fit: cover;
  height: 90vh;
}

.lightbox-title {
  color: #901c1c;
  font-size: 24px;
  margin-top: 10px;
}

.prev {
  order: 1;
  color: #901c1c;
  font-size: 48px;
  cursor: pointer;
}

.next {
  order: 3;
  color: #901c1c;
  font-size: 48px;
  cursor: pointer;
}

.close-lightbox {
  color: #901c1c;
  font-size: 72px;
  z-index: 2;
  cursor: pointer;
  order: 4;
  position: absolute;
  top: 0;
  right: 15px;
}

/* DROPDOWN */
.dropdown-container {
  display: flex;
  align-items: center;
  margin: 20px 0 58px 0;
}

.text-trier {
  font-weight: 700;
}

#dropdownButton,
.listbox {
  background-color: #901c1c;
  color: white;
  border: 1px solid #901c1c;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  width: 150px;
}

#dropdownButton {
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownOption {
  padding: 10px 0;
}

.listbox:nth-child(2) {
  padding-bottom: 0;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.listbox {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
  padding-top: 0px;
}

.listbox [role="option"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow {
  display: block;
  transition: transform 0.3s; /* Animation transition */
}
